.extra-line{
  margin-top: 10px;
  border: 0.4px solid rgba(106, 106, 106, 0.58);
}

#mediumText {
  font-size: 1.5em;
  text-align: center;
  color: rgba(95, 95, 95, 0.58);
}


#linkText {
  font-size: 0.8em;
  text-align: center;
  color: rgba(6, 59, 255, 0.77);
}

h2 {
  margin-right: 30px;
}



