<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerDirection="backward" text="" icon="arrow-back"></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Terms and Condition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt id aliquet risus feugiat. Sed id semper risus in hendrerit gravida rutrum. Adipiscing at in tellus integer feugiat scelerisque varius. Viverra accumsan in nisl nisi scelerisque eu. Quisque sagittis purus sit amet volutpat consequat mauris. Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae. Vel quam elementum pulvinar etiam. In est ante in nibh mauris cursus mattis molestie. Sagittis orci a scelerisque purus semper eget. Dolor magna eget est lorem ipsum dolor sit amet. Viverra ipsum nunc aliquet bibendum enim facilisis gravida. Tortor at auctor urna nunc id cursus metus aliquam.

      Ipsum consequat nisl vel pretium lectus quam. Cras adipiscing enim eu turpis egestas. Commodo odio aenean sed adipiscing diam. Elementum eu facilisis sed odio morbi quis commodo. Sem integer vitae justo eget magna. Viverra aliquet eget sit amet tellus cras adipiscing enim eu. Donec adipiscing tristique risus nec. Aenean euismod elementum nisi quis eleifend quam. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Ut etiam sit amet nisl purus in mollis.

      Accumsan sit amet nulla facilisi morbi tempus. Volutpat odio facilisis mauris sit. Sed elementum tempus egestas sed sed. Viverra mauris in aliquam sem fringilla. Tincidunt id aliquet risus feugiat in. Imperdiet proin fermentum leo vel orci porta. Pulvinar neque laoreet suspendisse interdum. Id semper risus in hendrerit gravida. Vel pretium lectus quam id leo in. Dignissim sodales ut eu sem integer vitae justo. Mauris in aliquam sem fringilla ut morbi tincidunt augue interdum. Cras adipiscing enim eu turpis. Gravida arcu ac tortor dignissim convallis.

    </ion-card-content>
  </ion-card>




  <ion-button color="success" size="medium" expand="full">I agree</ion-button>


</ion-content>
